html {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
}

ul li a {
  text-decoration: none;
  color: #000;
}

nav:hover {
  color: #777;
  border-color: none;
}

nav:active {
  color: #777;
  border-color: none;
}

a:hover {
  color: #777;
}

.jk  {
  width: 50%;
}

video {
  width: 100%;
}
